* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #67a592;
    background-image:linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-webkit-linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-ms-linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #CCC),
        color-stop(0.51, #FFFFFF)
    );
    background-attachment:fixed;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.bgColor {
    background-color: #2C3E50;
    width: 100%;
    height: 100%;
}


.ui-icon-journal:after {
    background-image: url("../img/journal-menu.png");
}
/* Fallback */
.ui-nosvg .ui-icon-journal:after {
    background-image: url("../img/journal-menu.png");
}

.constant-text{
    font-weight:normal;color:#34495e;
}

.ui-page {
    background-color: #67a592;
}

h1 {
    font-size:36px;
    font-weight:bold;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color: #68a693
}

.button-type-image{
    margin-left:20%!important;
    margin-top: 0!important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
#caregiver-page{
    overflow-x: hidden;
    overflow-y:hidden;
    background-color: #eeeeee;
}



.latest-reminder-description{
    top:50%!important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-type-image{
    position:relative;
    top:50%!important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.large-text{
    font-size: 2vmax;
}
.center-text{
    text-align:center!important;
}
.small-bottom-margin{
    margin-bottom:8px!important;
}
.no-bottom-margin{
    margin-bottom:0!important;
}

.pacient-icon {
    width: 4vmax!important;
    border-radius: 50%;
    font-size: 2.5vmax!important;
    color: whitesmoke;
    line-height: 4vmax!important;
    text-align: center;
    background-color: #2C3E50!important;
}

.pacient-icon-2 {
    width: 5vmax!important;
    border-radius: 50%;
    font-size: 3.5vmax!important;
    color: whitesmoke;
    line-height: 5vmax!important;
    text-align: center;
    background-color: #2C3E50!important;
    margin-top: 0.5vmax;
}

.pacient-text {
    font-weight: bolder!important;
    font-size: 2.5vmax;!important;
}

.pacient-text-2a {
    font-weight: bolder!important;
    font-size: 2vmax;!important;
    text-align: center!important;
    line-height: 2.5vmax!important;
}
.pacient-text-2b {
    margin-top: 1vmax;
    font-style: italic!important;
    font-size: 2vmax;!important;
    text-align: center!important;
    line-height: 2.5vmax!important;
}

.journal-icon {
    left: 0 !important;
    right: 0!important;
}

.row-latest-journal{
    min-height: 6vmax;
}

.latest-journal-icon {
    width: 3.5vmax;
    margin-left: auto;
    margin-right: auto;
}

.card-type-image {
    width: 4vmax;
    position: absolute;
    top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.next-type {
    background-color: rgba(255,255,255,1)!important;
}

.next-type-color {
    background-color: #67a592;
}

.next-type-font-color {
    color: white;
}

.old-type {
    background-color: rgba(255,255,255,0.25)!important;
}
.old-type-color {
    background-color: rgba(255,255,255,0.25)!important;
}
.old-type-font-color {
    color: black;
}

.future-type {
    background-color: rgba(255,255,255, 0.5)!important;
}
.future-type-color {
    background-color: #67a592;
    opacity: 0.5;
}

.future-type-font-color {
    color: white;
}

.status-type-image{
    width: 4vmax;
    position: absolute;
    bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.date-holder {
    font-size: 2vmax;
    text-align: center!important;
    vertical-align:middle;
}

.activity-list {
    position:relative;
    z-index: 2;
    width:100%!important;
    overflow-x: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width:100%!important;
    overflow-x: hidden;
    z-index: 3;
}

.row.vertical-divider-noBg {
    overflow: hidden;
    padding-left:0!important;
    padding-right:0!important;
}

.row.vertical-divider-noBg > div[class^="high col"] {
    border-left: 3px solid red;
}

.row.vertical-divider-noBg > div[class^="medium col"] {
    border-left: 3px solid orange;
}

.row.vertical-divider-noBg > div[class^="low col"] {
    border-left: 3px solid green;
}

.row.vertical-divider-noBg > div[class^="none col"] {
    border-left: 3px solid gray;
}

.row.vertical-divider-noBg div[class^="col"]:first-child {
    border-left: none;
}
.row.vertical-divider-noBg div[class^="col"]:last-child {
    border-right: none;
}

.row.vertical-divider {
    overflow: hidden;
    background-color: white;
    padding-left:0!important;
    padding-right:0!important;
}

.row.vertical-divider > div[class^="high col"] {
    padding-bottom: 100px;
    margin-bottom: -100px;
    border-left: 2px solid red;
}

.row.vertical-divider > div[class^="medium col"] {
    padding-bottom: 100px;
    margin-bottom: -100px;
    border-left: 2px solid orange;
}

.row.vertical-divider > div[class^="low col"] {
    padding-bottom: 100px;
    margin-bottom: -100px;
    border-left: 2px solid green;
}

.row.vertical-divider > div[class^="none col"] {
    padding-bottom: 100px;
    margin-bottom: -100px;
    border-left: 2px solid gray;
}



.row.vertical-divider div[class^="col"]:first-child {
    border-left: none;
}
.row.vertical-divider div[class^="col"]:last-child {
    border-right: none;
}

.journal-holder {
    border-color: gray;
    border-width:1px;
}

.card-text {
    font-size: 160%;
    margin-right: 1%;
    margin-left: 1%;
}

.card-time {
     text-align: center;
     font-size:2.5vmax;
     width: 100%;
     left:0px;
 }

.activity-time {
    text-align: left;
    font-size:150%;
    width: 100%;
}

.card-time-translate {
    transform: translate(-15%, -50%);
}

.date-p {
    font-size: 140%;
    text-align: center;
    font-weight: bold;
}
.welcome-page-icons{
    height: 4vmax;
}
.icon-row {
    height: 100%; width: 100%; object-fit: contain;
}
.card-image {
    width: 10%;
}

.roundedCard {
    margin-bottom:5px;
    margin-top:5px;
}
/* header */
.ui-header > .ui-btn {
    padding: 7px 10px 11px;
    background:none;
    border:none;
    /*overflow:;*/
}
.ui-header .ui-title{

margin: .8em 30% .8em;

}

.card-message {
    font-weight:bold;
    font-size: 3.5vmax;
}
.card-description{
    font-weight: normal;
    font-size: 2.5vmax;
}
.activity-message{
    font-weight:bold;
    font-size: 150%;
}

.activity-description{
    font-weight: normal;
    font-size: 120%;
}


.login-form {
    margin: 5vmax;
    max-width: 90vmax;
}
.reminder-logo {
    max-width: 15vmax;
    max-height: 15vmax;
    margin-top: auto;
    margin-bottom:auto;
    margin-left: auto;
    margin-right:auto;
    display: block;
    border-style: solid;
    border-width: 5px;
    border-color: whitesmoke;
    border-radius: 50%;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.writingHeader {
    margin-top: 15%;
    margin-right: 30%;
}

.writingText {
    margin-top: 1%;
    margin-right: 30%;
}


.bgimg {
    background-image: url('../img/elder-bg-default.jpg');
}

.centerText{
    text-align:center;
}

.background{
    background-image: url('../img/elder-mainContent-bg.png');
    background-size: contain;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.bodyContainer {
    text-align:center;
}

#home-page a{
    margin-top:20px;
    padding-top:8px;
    padding-bottom:8px;
}

.ui-grid-a .ui-block-a .ui-btn{
    margin-left: 0px;
}

.ui-grid-a .ui-block-b .ui-btn{
    margin-right: 0px;
}

/* map */
#home-page{

}
#second-page{
   
}
.big-text{
    font-size: 1.3em;
}
.small-text{
    font-size:0.8em;
}


.ui-btn-active {
    border: 1px solid       #1abc9c /*{global-active-border}*/;
    background:             #1abc9c /*{global-active-background-color}*/;
    font-weight: bold;
    color:                  #ffffff /*{global-active-color}*/;
    cursor: pointer;
    text-decoration: none;
  font-family: Lato, sans-serif
}

.enduser-latest-reminder-img{
    border-radius: 50%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.left-border {
    border-radius: 15px 50px 30px 5px;
    background: #2C3E50;
}
.latest-reminder-container{
    background: linear-gradient(#2C3E50, #67A592);
    border-radius: 50px 50px 50px 50px;
    display:block; width:100%; height:70vh; overflow:hidden;
}

.right-border {
    border-radius: 50px 15px 5px 30px;
    background: #2C3E50;
}

.holder{
    width:100%;
    margin:0 auto;
}

.chart-container {
    border-color: black;
    background: white;
    border-radius: 15px 15px 0px 0px;
}

.latest-reminder-content1 {
    font-size:30px;
    font-weight:bold;
    overflow:visible;
    padding:0px;
    text-align:center;
    color: white;
}
.latest-reminder-content2 {
    font-size:24px;
    font-weight:bold;
    overflow:visible;
    padding:0px;
    text-align:center;
    color: white;
}

#urgentStatus {
    margin:0;
    border:0;
    padding:0;
    max-width:100%;
    min-width:100%;
    min-height: 5vmax;
    display: flex;
    align-items: center;
}

.urgent-reminder-button{
    margin:0;
    border:0;
    padding:0;
    max-width:100%;
    min-width:100%;
    min-height: 5vmax;

    display: flex;
    align-items: center;
}

.latest-reminder-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
}

#checkReminderBtn {
    background-color: #00a300; /* Blue background */
}

#cancelReminderBtn {
    background-color: #ee1111; /* Blue background */
}

.backButton {
    color: white;
}


.header {
    background-color: #2c3e50;
}

.notSelected {
    background-color: #2c3e50;
}

.ack-button {
    touch-action: manipulation;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #226F58;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 2.5vmax!important;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #67A592;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 #003827 ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.ack-button:hover {
    border: 1px solid #003827;
    background: #226F58;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.ack-button:active {
    border: 1px solid #003827;
    background: #226F58;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
    text-shadow: none;
    -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.selected {
    background-color: white;
}

.status-page {
    max-height: 100%; background-color:white;
    width:100%;
}
#caregiver-status-page {
    max-height: 100%; background-color:white;
}
#caregiver-status-page-weight {
    max-height: 100%; background-color:white;
}

#caregiver-status-page-blood-pressure {
    max-height: 100%; background-color:white;
}
#caregiver-status-page-sleep {
    max-height: 100%; background-color:white;
}
#caregiver-status-page-steps {
    max-height: 100%; background-color:white;
}

#caregiver-activities-page {
   background-color:lightgray;
}

.content-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}

.btn-reminder {
    border-radius: 50%;
    margin-left:5%;
    position:relative;
    width : 90%;
    text-align: center;
    font-size: x-large;
    display: flex;
    align-items: center;
}

.btn-reminder:active {
    opacity: 0.5;
}

.row-panel-mobile-landscape{
    display:none!important;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

.ui-icon-ms-phone {
    background: url("../img/phone-icon.png") 50% 50% no-repeat;
}
.ui-icon-ms-question {
    background: url("../img/question-icon.png") 50% 50% no-repeat;
}
.ui-icon-ms-search {
    background: url("../img/search-icon.png") 50% 50% no-repeat;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabicon {
    margin:auto;
    height: 100%;
    width: 100%;
}

.day-week {
    font-size: 120%;
    position: relative;
    text-align: center;
}
.day {
    font-size: 170%;
    font-weight: bold;
    text-align: center;
}
.month {
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

#healthstatuscontainerdr{
height: 75px;
background-color: green;
}
#healthstatuscontainerdr img{
max-width:100%;
opacity: 0.5;
}
#healthstatusondr {
font-size: large;
color: white;
font-weight: bold;
background-color: green;
padding-left: 5px;
}

#healthstatuslogodr img{
display: block;
margin-left: auto;
margin-right: auto;
}
#healthstatuslogodr img {
border: white;
border-style: solid;
border-radius: 50%;
}

.mediumHighSeverity{
    background-color: #FFC0CB!important;
}

.highSeverity{
    background-color: #FF0000!important;
}
.mediumSeverity{
    background-color: #E4E132!important;
}
.lowSeverity{
    background-color: #6DAB3C!important;
}
.noneSeverity{
    background-color: gray!important;
}

.high-borders{
    border: solid;
    border-color: #FF0000;
}
.medium-borders{
    border: solid;
    border-color: #E4E132;
}
.low-borders{
    border: solid;
    border-color: #6DAB3C;
}
.none-borders{
    border: solid;
    border-color: gray;
}

.tab-panel{
    display:grid;
    align-items: center;
}

#afterhealthstatusbandr{
    max-height: 100%;
    position: fixed;
    margin-top: -5%;
    height: 100%;
    overflow: hidden;
    background-color: #eeeeee;
}
.statusbar{
    max-height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #eeeeee;
}

#healthstatusmeasrightdr{
}

#healthstatusmeasleftdr{
}

#homeicon {
    margin: 10%;
}
#partborderrowright {
	border-bottom: rgba(0,0,0,0.25);
	border-left: rgba(0,0,0,0.25);
    height: 70%;
    border-style: solid;
	border-top: none;
	border-right: none;
}
#partborderrowleft {
	border-bottom: rgba(0,0,0,0.25);
    height: 70%;
	border-style: solid;
	border-left: none;
	border-top: none;
	border-right: none;
}
#graphbt{
text-align: center;
}
.col-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-15 {
        width: 20%;
        float: left;
    }
}

.vertical-aligned-in-div {
    position:relative;
    top:35%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#remscroll{
  position:relative; 
  width: 100%;
    height: 45vmax;
}


.welcome-message {
    margin-top: 1%;
    width: 100%;
    max-height: 40%;
    text-align:center;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .welcome-message {
        margin-top: 5%;
        width: 100%;
        max-height: 40%;
        text-align:center;
    }

    .tab-content{
        padding:1% 10% 0 10%;
    }

    #remscroll{
        width: 100%!important;
        height: 55vmax!important;
    }
}
.landscape-mobile-left{
    float:left;
    font-size:2.5vmax;
}
.landscape-mobile-right{
    float:right;
    font-size:2.5vmax;
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .row-panel-mobile-landscape{
        display:grid!important;
        width: 85.3vh!important;
        left: 0!important;
        top: 0!important;
        position: absolute!important;
    }
    .row-panel-normal{
        display:none!important;
    }
    .chart-container{
        width: 55vw!important;
        left: 25vw!important;
        top: 0!important;
        position: absolute!important;
    }

    .col-15 {
        position: relative;
        padding-right: 0;
        padding-left: 0;
    }
    .ui-footer{
        height: 15vh!important;
    }

}

